name: Publish to jsr
on:
  workflow_dispatch:
    inputs:
      publishCommandArgs:
        description: 'Extra command arguments to pass to jsr publish'
        type: string
        default: '--allow-slow-types'
        required: false

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Publish package
      run: npx jsr publish ${{ inputs.publishCommandArgs }}
